@{
    ViewData["Title"] = "Home Page";
}

<link type="text/css" rel="stylesheet" href="~/css/index.css"/>

<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image:url('/img/tech/image4.jpg');color:rgba(9, 162, 255, 0.85);">
        <div class="text">
            <h2>Head-Hunter Hunter</h2>
            <p>Placing Career Path Control Back Into the Hands of the Careerist</p><button class="btn btn-outline-light btn-lg" type="button">Learn More</button>
        </div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div id="info" class="col-sm-8">
                <h2 class="text-info">The Problem</h2>
                <p>
                    From headhunting firms based all over the corepresenting companies that are based
                    all over, with remote and location jobs that are all over the geographic map. It does not stop there. You have
                    recieved the noticed that some jobs are being sent out by headhunters that work at the same company, and others that have been sent over by
                    headhunters working for different firms. Maybe you called a few of them and were informed of different wages and salaries.
                    So you now have anywhere from 15 to 50 emails coming into your account DAILY. We're here to make this easier. 
                </p>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="~/img/scenery/image5.jpg"></div>
                <div class="col-md-6">
                    <h3>Visibility Through The Fog</h3>
                    <div class="getting-started-info">
                        <p>The Headhunter Hunter: Placing Career Path Control Back Into the Hands of the Careerist</p>
                        <p>
                            Every single day you find an article about the overwhelming need, and the inability of the workforce to supply the much needed personnel. If you are a developer, engineer, architect,
                            or scientist for software or data, it appears the sky is the limit.
                        </p>
                    </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row"></div>
    </div>
</footer>